---
import "../styles/style.css";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="style.css" />
        <link href="https://fonts.cdnfonts.com/css/exwayer" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <title>About - Bogdan Moldoveanu</title>
    </head>
    <body>
        <nav>
            <div class="logo-container">
                <a style="font-family:exwayer" href="/">BM</a>
            </div>
            <div id="special-text">
                <a href="/">// home</a>
                <a href="/about">// about</a>
                <a href="/projects">// projects</a>
                <a href="/contact">// contact</a>
            </div>
        </nav>
        <div class="markerbox"></div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const nav = document.querySelector("nav");
                const markerbox = document.querySelector(".markerbox");
                window.addEventListener("scroll", function () {
                    if (markerbox) {
                        const rect = markerbox.getBoundingClientRect();
                        if (!rect || rect.bottom <= 0) {
                            if (nav) {
                                nav.classList.add("nav-scrolled");
                            }
                        } else {
                            if (nav) {
                                nav.classList.remove("nav-scrolled");
                            }
                        }
                    }
                });
            });
        </script>
        <div class="about-page-intro">
            <h1 style="font-size: 90px;">A bit about me.</h1>
            <a href="#intro" class="jumpto-button">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="100"
                    height="100"
                    viewBox="0 0 14 14"
                    ><g
                        fill="none"
                        stroke="#"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        ><path
                            d="m.5 6.46l6.15 6.14a.48.48 0 0 0 .7 0l6.15-6.14"
                        ></path><path
                            d="M.5 1.25L6.65 7.4a.5.5 0 0 0 .7 0l6.15-6.15"
                        ></path></g
                    ></svg
                >
            </a>
        </div>
        <div id="intro" class="skip-to-intro"></div>
        <div class="about-sectionOne">
            <p style="font-size: 30px;">Profile</p>
            <p>
                19-Year-old University of Kent student studying Computer Science
                & Cybersecurity with experience in working with a wide range of
                software such as Excel, Access, IntelliJ, NetBeans, BlueJ and
                programming languages such as Java, SQL, html, and currently in
                the process of learning CSS and JavaScript.
            </p>
            <p>
                Taking on both small and large projects over the recent years
                has refined and deepened my knowledge in both front-end and
                back-end application/website development including key areas
                such as design and security.
            </p>
            <p>
                I am extremely cyber security orientated and take a personal
                interest in testing and maintaining system security.
            </p>
            <p style="font-size: 30px;">Work Experience</p>
            <p style="font-size: 20px;">Auto Quest, Redhill (2015 May)</p>
            <p>
                I have volunteered for duties such as customer support where I
                took and answered phone calls and directed customers to where
                they need to go. With this opportunity I was given I worked
                under pressure with the public watching me, it has taught me how
                to act appropriately and adapt to different situations.
            </p>
            <p style="font-size: 20px;">
                Ward Host, NHS, Part-time, Redhill (2022-Present)
            </p>
            <p>
                Working amongst a variety of different backgrounds and general
                diversity has helped develop my creative and innovative
                thinking, seeing problems from the perspectives of personnel
                with unique life experience.
            </p>
            <p style="font-size: 30px;">Core Skills</p>
            <div class="logo-links">
                <a href="" aria-label="Java">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="50"
                        height="50"
                        viewBox="0 0 384 512"
                        ><path
                            fill="white"
                            d="M277.74 312.9c9.8-6.7 23.4-12.5 23.4-12.5s-38.7 7-77.2 10.2c-47.1 3.9-97.7 4.7-123.1 1.3c-60.1-8 33-30.1 33-30.1s-36.1-2.4-80.6 19c-52.5 25.4 130 37 224.5 12.1zm-85.4-32.1c-19-42.7-83.1-80.2 0-145.8C296 53.2 242.84 0 242.84 0c21.5 84.5-75.6 110.1-110.7 162.6c-23.9 35.9 11.7 74.4 60.2 118.2zm114.6-176.2c.1 0-175.2 43.8-91.5 140.2c24.7 28.4-6.5 54-6.5 54s62.7-32.4 33.9-72.9c-26.9-37.8-47.5-56.6 64.1-121.3zm-6.1 270.5a12.19 12.19 0 0 1-2 2.6c128.3-33.7 81.1-118.9 19.8-97.3a17.33 17.33 0 0 0-8.2 6.3a70.45 70.45 0 0 1 11-3c31-6.5 75.5 41.5-20.6 91.4zM348 437.4s14.5 11.9-15.9 21.2c-57.9 17.5-240.8 22.8-291.6.7c-18.3-7.9 16-19 26.8-21.3c11.2-2.4 17.7-2 17.7-2c-20.3-14.3-131.3 28.1-56.4 40.2C232.84 509.4 401 461.3 348 437.4zM124.44 396c-78.7 22 47.9 67.4 148.1 24.5a185.89 185.89 0 0 1-28.2-13.8c-44.7 8.5-65.4 9.1-106 4.5c-33.5-3.8-13.9-15.2-13.9-15.2zm179.8 97.2c-78.7 14.8-175.8 13.1-233.3 3.6c0-.1 11.8 9.7 72.4 13.6c92.2 5.9 233.8-3.3 237.1-46.9c0 0-6.4 16.5-76.2 29.7zM260.64 353c-59.2 11.4-93.5 11.1-136.8 6.6c-33.5-3.5-11.6-19.7-11.6-19.7c-86.8 28.8 48.2 61.4 169.5 25.9a60.37 60.37 0 0 1-21.1-12.8z"
                        ></path></svg
                    >
                </a>
                <a href="" aria-label="HTML">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="50"
                        height="50"
                        viewBox="0 0 24 24"
                        ><path
                            fill="white"
                            d="M0 15V9h1.5v2h2V9H5v6H3.5v-2.5h-2V15H0Zm7.75 0v-4.5H6V9h5v1.5H9.25V15h-1.5ZM12 15v-5q0-.425.288-.713T13 9h4.5q.425 0 .713.288T18.5 10v5H17v-4.5h-1V14h-1.5v-3.5h-1V15H12Zm8 0V9h1.5v4.5H24V15h-4Z"
                        ></path></svg
                    >
                </a>
                <a href="" aria-label="JavaScript">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="50"
                        height="50"
                        viewBox="0 0 24 24"
                        ><path
                            fill="white"
                            d="M3 3h18v18H3V3m4.73 15.04c.4.85 1.19 1.55 2.54 1.55c1.5 0 2.53-.8 2.53-2.55v-5.78h-1.7V17c0 .86-.35 1.08-.9 1.08c-.58 0-.82-.4-1.09-.87l-1.38.83m5.98-.18c.5.98 1.51 1.73 3.09 1.73c1.6 0 2.8-.83 2.8-2.36c0-1.41-.81-2.04-2.25-2.66l-.42-.18c-.73-.31-1.04-.52-1.04-1.02c0-.41.31-.73.81-.73c.48 0 .8.21 1.09.73l1.31-.87c-.55-.96-1.33-1.33-2.4-1.33c-1.51 0-2.48.96-2.48 2.23c0 1.38.81 2.03 2.03 2.55l.42.18c.78.34 1.24.55 1.24 1.13c0 .48-.45.83-1.15.83c-.83 0-1.31-.43-1.67-1.03l-1.38.8Z"
                        ></path></svg
                    >
                </a>
                <a href="" aria-label="SQL">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="50"
                        height="50"
                        viewBox="0 0 1024 1024"
                        ><path
                            fill="white"
                            d="M301.3 496.7c-23.8 0-40.2-10.5-41.6-26.9H205c.9 43.4 36.9 70.3 93.9 70.3c59.1 0 95-28.4 95-75.5c0-35.8-20-55.9-64.5-64.5l-29.1-5.6c-23.8-4.7-33.8-11.9-33.8-24.2c0-15 13.3-24.5 33.4-24.5c20.1 0 35.3 11.1 36.6 27h53c-.9-41.7-37.5-70.3-90.3-70.3c-54.4 0-89.7 28.9-89.7 73c0 35.5 21.2 58 62.5 65.8l29.7 5.9c25.8 5.2 35.6 11.9 35.6 24.4c.1 14.7-14.5 25.1-36 25.1z"
                        ></path><path
                            fill="white"
                            d="M928 140H96c-17.7 0-32 14.3-32 32v496c0 17.7 14.3 32 32 32h380v112H304c-8.8 0-16 7.2-16 16v48c0 4.4 3.6 8 8 8h432c4.4 0 8-3.6 8-8v-48c0-8.8-7.2-16-16-16H548V700h380c17.7 0 32-14.3 32-32V172c0-17.7-14.3-32-32-32zm-40 488H136V212h752v416z"
                        ></path><path
                            fill="white"
                            d="M828.5 486.7h-95.8V308.5h-57.4V534h153.2zm-298.6 53.4c14.1 0 27.2-2 39.1-5.8l13.3 20.3h53.3L607.9 511c21.1-20 33-51.1 33-89.8c0-73.3-43.3-118.8-110.9-118.8s-111.2 45.3-111.2 118.8c-.1 73.7 43 118.9 111.1 118.9zm0-190c31.6 0 52.7 27.7 52.7 71.1c0 16.7-3.6 30.6-10 40.5l-5.2-6.9h-48.8L542 491c-3.9.9-8 1.4-12.2 1.4c-31.7 0-52.8-27.5-52.8-71.2c.1-43.6 21.2-71.1 52.9-71.1z"
                        ></path></svg
                    >
                </a>
                <a href="" aria-label="EXCEL">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="50"
                        height="50"
                        viewBox="0 0 512 512"
                        ><path
                            fill="white"
                            d="M488.877 52.447H302.306V5.92h-34.779L0 52.563v406.99l265.957 46.527h36.349v-46.353h174.59c9.887-.465 20.879.291 29.37-5.757c6.804-10.41 5.06-23.438 5.641-35.186V75.012c1.221-13.26-9.77-23.903-23.03-22.565zm-294.862 282.59c-9.712 5.06-24.252-.233-35.767.581c-7.735-38.5-16.75-76.768-23.67-115.443c-6.805 37.57-15.645 74.79-23.438 112.128c-11.166-.581-22.39-1.28-33.615-2.035c-9.655-51.18-20.995-102.01-30.01-153.305c9.945-.465 19.948-.872 29.893-1.221c5.99 37.047 12.795 73.919 18.03 111.024c8.2-38.036 16.574-76.071 24.717-114.106c11.05-.64 22.1-1.105 33.15-1.687c7.735 39.257 15.644 78.455 24.019 117.537c6.572-40.361 13.841-80.607 20.879-120.91c11.631-.407 23.263-1.047 34.836-1.745c-13.143 56.355-24.659 113.176-39.024 169.182zm290.212 97.069H302.306v-36.527h151.21v-23.263h-151.21v-29.079h151.21v-23.263h-151.21v-29.08h151.21v-23.262h-151.21v-29.08h151.21V215.29h-151.21v-29.08h151.21v-23.263h-151.21v-29.079h151.21v-23.263h-151.21v-30.71h181.921v352.21z"
                        ></path></svg
                    >
                    <a href="" aria-label="ACCESS">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="50"
                            height="50"
                            viewBox="0 0 512 512"
                            ><path
                                fill="white"
                                d="M511.873 384.332V115.975c1.978-24.2-20.303-40.024-40.605-46.946c-53.928-19.081-112.683-19.605-168.88-12.45V5.852h-34.787L0 52.507V459.61l266.146 46.54h36.243v-62.654c56.021 7.97 114.137 5.817 168.122-12.1c20.536-6.865 43.398-22.572 41.362-47.063zm-335.431-35.719l-11.17-43.572l-53.52-1.513l-10.471 41.246l-34.09-2.444l51.542-183.539l40.664-2.967l57.243 195.872l-40.198-3.083zM302.389 74.264c51.949-7.155 106.05-6.922 156.546 8.494c13.903 5.177 32.52 11.402 35.66 27.981c-2.327 13.555-16.463 19.663-27.632 24.55c-52.764 17.801-109.833 19.488-164.574 11.227V74.264zm0 183.83c39.616 5.061 79.872 4.945 119.489-.29c25.538-3.782 52.066-9.308 72.66-25.888c-1.164 24.957 1.803 50.146-1.63 74.928c-10.18 12.45-26.701 16.87-41.536 21.117c-48.691 11.577-99.536 11.868-148.983 5.585v-75.452zM492.792 400.04c-16.463 17.917-42.583 21.233-65.213 25.83c-41.478 6.34-83.887 6.456-125.423.465l.233-75.161c39.558 5.06 79.698 4.945 119.256-.291c25.597-3.723 52.182-9.308 72.892-25.888c-1.221 24.957 1.92 50.263-1.745 75.045zm0-186.099c-10.413 12.391-26.934 16.812-41.827 21.06c-48.575 11.46-99.245 11.75-148.576 5.41v-75.394c39.5 5.003 79.64 4.945 119.14-.233c25.597-3.781 52.298-9.308 73.008-25.946c-1.28 25.015 1.978 50.321-1.745 75.103zm-373.768 58.174s14.602-53.81 18.5-81.443c5.235 27.574 13.321 54.45 19.953 81.676l-38.453-.233z"
                            ></path></svg
                        >
                    </a>
                    <a href="" aria-label="EXCEL">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="50"
                            height="50"
                            viewBox="0 0 512 512"
                            ><path
                                fill="white"
                                d="M453.547 273.449H372.12v-40.714h81.427v40.714zm0 23.264H372.12v40.714h81.427v-40.714zm0-191.934H372.12v40.713h81.427V104.78zm0 63.978H372.12v40.713h81.427v-40.713zm0 191.934H372.12v40.714h81.427V360.69zm56.242 80.264c-2.326 12.098-16.867 12.388-26.58 12.796H302.326v52.345h-36.119L0 459.566V52.492L267.778 5.904h34.548v46.355h174.66c9.83.407 20.648-.291 29.197 5.583c5.991 8.608 5.41 19.543 5.817 29.43l-.233 302.791c-.29 16.925 1.57 34.2-1.978 50.892zm-296.51-91.256c-16.052-32.57-32.395-64.909-48.39-97.48c15.82-31.698 31.408-63.512 46.937-95.327c-13.203.64-26.406 1.454-39.55 2.385c-9.83 23.904-21.288 47.169-28.965 71.888c-7.154-23.323-16.634-45.774-25.3-68.515c-12.796.698-25.592 1.454-38.387 2.21c13.493 29.78 27.86 59.15 40.946 89.104c-15.413 29.081-29.837 58.57-44.785 87.825c12.737.523 25.475 1.047 38.212 1.221c9.074-23.148 20.357-45.424 28.267-69.038c7.096 25.359 19.135 48.798 29.023 73.051c14.017.99 27.976 1.862 41.993 2.676zM484.26 79.882H302.326v24.897h46.53v40.713h-46.53v23.265h46.53v40.713h-46.53v23.265h46.53v40.714h-46.53v23.264h46.53v40.714h-46.53v23.264h46.53v40.714h-46.53v26.897H484.26V79.882z"
                            ></path></svg
                        >
                    </a>
                </a>
            </div>
        </div>
        <footer class="about-page-footer">
            <div class="footer-content">
                <a>Made with Astro</a><svg
                    class="svg"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    ><path
                        fill="white"
                        d="M16.074 16.86c-.72.616-2.157 1.035-3.812 1.035c-2.032 0-3.735-.632-4.187-1.483c-.161.488-.198 1.046-.198 1.402c0 0-.106 1.75 1.111 2.968c0-.632.513-1.145 1.145-1.145c1.083 0 1.082.945 1.081 1.712v.069c0 1.164.711 2.161 1.723 2.582a2.347 2.347 0 0 1-.236-1.029c0-1.11.652-1.523 1.41-2.003c.602-.383 1.272-.807 1.733-1.66a3.129 3.129 0 0 0 .378-1.494a3.14 3.14 0 0 0-.148-.954zM15.551.6c.196.244.296.572.496 1.229l4.368 14.347a18.18 18.18 0 0 0-5.222-1.768L12.35 4.8a.37.37 0 0 0-.71.002l-2.81 9.603a18.175 18.175 0 0 0-5.245 1.771L7.974 1.827c.2-.656.3-.984.497-1.227a1.613 1.613 0 0 1 .654-.484C9.415 0 9.757 0 10.443 0h3.135c.686 0 1.03 0 1.32.117A1.614 1.614 0 0 1 15.55.6z"
                    ></path></svg
                >
            </div>
            <div class="footer-bottom">
                <p>&copy; 2023 Bogdan Moldoveanu</p>
            </div>
        </footer>
    </body>
</html>
