---
import Layout from "../layouts/Layout.astro";
import "../styles/style.css";
---

<Layout>
    <div class="contact-page-intro">
        <h1 style="font-size: 80px;">Get In Touch</h1>
        <p>Number: 07401244881</p>
        <p>Email: b.alex.moldoveanu@outlook.com</p>
    </div>
</Layout>
