---
import Layout from "../layouts/Layout.astro";
import "../styles/style.css";
---

<Layout>
    <div class="projects-page-intro">
        <h1 style="font-size: 80px;">Page coming soon!</h1>
    </div>
</Layout>
